#KDE Plasma service menu file, to be put in ~/.local/share/kio/servicemenus/
[Desktop Entry]
Type=Service
MimeType=application/octet-stream
Actions=catboxUpload

[Desktop Action catboxUpload]
Name=Upload to Catbox
Icon=cloud-upload
TryExec=~/cat-tree/main.py --non-interactive
Exec=~/cat-tree/main.py --non-interactive %f
